CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=<convx cloud url>

NEXT_PUBLIC_CONVEX_SITE_URL=<convex site url>

# clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<clerk key>
CLERK_SECRET_KEY=<clerk secret key>